<h1>Register</h1>

<%= form_with url: auth_register_path, method: :post, scope: :user do |f| %>
  <div>
    <%= f.label :email, "Email" %><br>
    <%= f.email_field :email, required: true %>
  </div>

  <div>
    <%= f.label :password, "Password" %><br>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirm Password" %><br>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <div>
    <%= f.submit "Register" %>
  </div>
<% end %>

<%= link_to "Already have an account? Login here.", users_login_path %>